/* Flex Helpers */
.flex {
    display: flex;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-evenly,.flex-row{
    justify-content: space-evenly;
}

.flex.justify-center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}