/* Flex Helpers */
.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.justify-center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}