/* Flex Helpers */
.flex {
    display: flex;
}

.flex.column{
    flex-direction: column;
}

.flex.row{
    flex-direction: row;
}

.flex.justify-center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-evenly{
    justify-content: space-evenly;
}

