canvas {
    border: 1px solid var(--clr0);
}

/* .canvas-container { */
    /* width: 30vw; */
    /* height: 10vh; */
/* } */

.meme-editor-tool-container {
    height: 100%;
    column-gap: 50px;
    padding-inline: 50px;
    /* max-width: 50vw; */
}

.page-meme-editor {
    height: 100%;
}

.meme-editor-tool {
    background-color: var(--clr3);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.btn-editor {
    padding: var(--btn-padding);
    background-color: var(--clr2);
    border: none;
    border-radius: 25%;
}

.btn-editor:not(button[disabled]) {
    background-color: var(--clr1);
}

.btn-editor:not(button[disabled]):hover {
    background-color: var(--clr2);
}

.btn-download {
    font-size: 40px;
}

/* input{
    display: block;
} */

.meme-editor-tool button img {
    height: 40px;
    width: 40px;
    display: block;
}

.btn-clr{
    position: relative;
}

.btn-clr input{
    border-radius: 20%;
    position: absolute;
    display: block;
    height: 50px;
    width: 50px;
    top: 0;
    left: 0;
    opacity: 0;
}