canvas {
    border: 1px solid black;
}

.meme-editor-tool-container{
    height: 100%;
}

.page-meme-editor {
    height: 100%;
    /* display: grid; */
    /* padding-block: 25% 25%; */
    /* padding-block-start: 25%; */
}

.meme-editor-tool {
    /* padding: 20px; */
}