.meme-card {
    border: 1px solid black;
    background-color: black;
    position: relative;
}

.meme-card img {
    display: block;
    width: 200px;
    height: 200px;
    transition: opacity 0.5s ease-in-out;
    object-fit: cover;
    object-position: 50% 50%;
}

.image-container:hover img {
    opacity: 0.5;
}

.meme-card .modal {
    position: absolute;
    inset: auto 0 -15px;
    color: white;
    opacity: 0;
    text-align: center;
    transition: opacity 0.5s ease-in-out, bottom 0.3s ease-in-out;
}


.image-container:hover .modal {
    opacity: 1;
    bottom: 0;
}