
.filter-tags>*:first-child{
    padding-inline-start: 50px;
}

.filter-tags>* {
    padding-inline-end: 50px;
}

.filter-tools {
    /* height: calc(var(--header-height)/2); */
}
.filter-tools a:hover{
    background-color: gray;
}