.filter-tags>*:first-child {
    padding-inline-start: 50px;
}

.filter-tags>* {
    padding-inline-end: 50px;
}

.filter-tools {
    padding: 15px;
}

.filter-tools input#search:hover {
    cursor: not-allowed;
}

.filter-tools a:hover {
    background-color: var(--clr4);
}