.footer-container {
    background-color: var(--clr-1);
    /* height: var(--header-height); */
    /* height: ; */
    /* position: absolute;
    inset: auto 0 0 0; */
    /* position: sticky;  */
}

footer{
    height: var(--header-height);
}