.header-container {
    background-color: var(--clr-1);
}

header {
    align-items: center;
    height: var(--header-height);
}



header a:hover {
    background-color: var(--clr-2);
}

.navigate span a {
    font-family: ubuntu;
}